@charset "utf-8"
@import url('https://fonts.googleapis.com/css?family=Roboto');

 body, input {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #617082;
  line-height: 30px;
   /*font-size: 14px;
   font-weight: normal;
  padding: 1%;
  margin: 1% 0;
background-color: #888;*/
           }

img {
display: block;
margin: auto;
width: 100%;
max-width: 600px;
}

  h1 {
 font-family: Roboto-Medium;
   font-size: 30px;
   color: #153258;
   text-align: center;
   padding: 1%;
  margin-top: 1%;
         }
             
   h2 {
 font-family: Roboto-Light;
    font-size: 27px;
 padding: none;
    color: #888;
         } 

h3 {
 font-family: Roboto-Light;
    font-size: 23px;
}

  h4 {
 font-family: Roboto-LightItalic;
   font-size: 19px;
   color: #E31A51;
         } 

/* style classes */
.announcement {
 font-family: Roboto-Regular;
 font-size: 24px;
 color: #617082;
 line-height: 30px;
   text-align: center;
   padding: 1%;
  margin-top: 10%;
         }

/* page classes */
.body-wrapper {
 width: 95%;
   margin: auto;
}
