@charset "utf-8"

 html {
margin: 1% 0;
background-color: #888;
}

 body {
   font-family: 'Rubik', sans-serif;
   font-size: 14px;
   font-weight: normal;
  margin: auto;
  width: 95%;
  padding: 1%;
           }
  
img {
display: block;
margin: auto;
width: 100%;
max-width: 600px;
}

  h1 {
 font-family: 'Maitree', serif;
 font-size: 1.1em;
         }
             
   h2 {
 font-family: 'Maitree', serif;
 font-size: 19px;
 background-color: #000;
 color: #fff;
 padding: .3em;
         } 
