@charset "utf-8"

 body, input {
   font-family: 'Rubik', sans-serif;
   font-size: 14px;
   font-weight: normal;
  padding: 1%;
  margin: 1% 0;
/*background-color: #888;*/
           }

img {
display: block;
margin: auto;
width: 100%;
max-width: 600px;
}

  h1 {
 font-family: 'Maitree', serif;
 font-size: 1.6em;
   text-align: center;
   padding: 1%;
  margin-top: 1%;
         }
             
   h2 {
 font-family: 'Rubik', sans-serif;
 font-size: 1.15em;
 padding: none;
         } 

/* style classes */
.announcement {
 font-family: 'Maitree', serif;
 font-size: 1.6em;
   text-align: center;
   padding: 1%;
  margin-top: 10%;
         }

/* page classes */
.body-wrapper {
 width: 95%;
   margin: auto;
}
